/* Remove letter-spacing from global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Gray Section */
.gray-section {
    background-color: #e0e0e0;
    flex: 1;
    position: relative;
    overflow: hidden;
}

/* White Section */
.white-section {
    background-color: #fff;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: top;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding-top: 3%;
}

/* Wrap: center text horizontally */
.wrap {
    text-align: center;
}

/* Heading Styles */
h1 {
    font-size: 250%;
    letter-spacing: 5px; /* Apply letter-spacing only to h1 if needed */
}

h3 {
    font-size: 75%;
    letter-spacing: 5px; /* Apply letter-spacing only to h3 if needed */
}

/* Gradient Text */
.gradient-text {
    background: linear-gradient(to right, rgb(56, 56, 85), rgb(51, 79, 135), rgb(98, 73, 73));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    transition: color .2s ease-in-out;
    text-transform: uppercase;
}

.gradient-text:hover {
    color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
    0% { background-position: left }
    50% { background-position: right }
    100% { background-position: left }
}

/* Icons Container */
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Apply styles to the images inside the anchor tags */
.icons a img {
    width: 80%;
    height: 80%;
    transition: transform 0.3s ease; /* Smooth scaling effect */
    cursor: pointer; /* Indicate the item is clickable */
}

/* Hover effect for scaling */
.icons a img:hover {
    transform: scale(1.1); /* Slightly increase the size by 10% */
}
