body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdf000; /* Optional: Light background for better contrast */
}
h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: rgb(80, 17, 174);
    letter-spacing: 5px;
    font-size: 72px;
}