/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Haas Grotesk";
    src: url(./neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf);
}

html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Haas Grotesk';
    background-color: white;
}

/* Container */
.container {
    height: calc(100vh - 4vw);
    width: calc(100vw - 4vw);
    margin: 2vw;
    display: flex;
    flex-direction: column;
}

/* Top Section */
.top-section {
    flex: 0 0 auto;
    width: 100%;
    border-bottom: 0.3vw solid #000;
    margin-bottom: calc(0.5vw + 0.5vh);
    text-align: right;
}

.name {
    text-transform: uppercase;
    font-size: calc(2vw + 3vh);
    line-height: 1;
    letter-spacing: 0.1vw;
    white-space: nowrap;
}

/* Middle Section */
.middle-section {
    flex-grow: 1;
    /* background-color: lightgray; */
}

/* Bottom Section */
.bottom-section {
    flex: 0 0 auto;
    width: 100%;
    margin-top: calc(1vw + 0.5vh);
    display: flex;
    justify-content: space-between;
}

.role {
    display: flex;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh);
    line-height: 1; /* Eliminates extra space */
    text-transform: uppercase;
}

.icons {
    display: flex;
    align-items: center;
}

.icons a {
    margin-left: calc(0.5vw + 0.5vh);
    display: flex;
    align-items: center;
}

.icons img {
    height: calc(1.5vw + 1.5vh);
    width: auto;
    display: block; /* Prevents extra space */
    transition: transform 0.3s ease; /* Smooth scaling effect */
    cursor: pointer; /* Indicate the item is clickable */
}
.icons a img:hover {
    transform: scale(1.3); /* Slightly increase the size by 10% */
}